@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1 {
    font-family: Pacifico;
    color: white;
    text-align: center;
}
body {
    background-image: url("https://chudo-udo.info/images/foto2/chto-delayut-kosmonavti-v-kosmose.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
    color: white;
    background-color: orange;
    border-radius: 10px;
    position: relative;
    left: 45%;
    padding: 15px;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: bold;
}
a:hover {
    background-color: crimson;
    border-radius: 15px;
}